nav {
  display: flex;
  gap: 20px; 
  color:aliceblue;
  justify-content: center;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #6f4128;
  padding: 8px 14px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #f0ead0;
}
body {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  color:#2c1c13;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #fbfaf8;
}

h1,h2 {
    font-family: 'sonora', sans-serif;
}
.splitTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Playfair Display', serif; /* or your chosen font */
  margin-bottom: 30px;
}

.leftName {
  text-align: left;
}

.rightName {
  text-align: right;
}