nav {
  display: flex;
  gap: 20px; 
  color:aliceblue;
  justify-content: center;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #6f4128;
  padding: 8px 14px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #f0ead0;
}
body {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  color:#66023c;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #fbfaf8;
  /* background-color: #cad183; */
}

h1,h2 {
    font-family: 'sonora', sans-serif;
}
.splitTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Playfair Display', serif; /* or your chosen font */
  margin-bottom: 30px;
}

.leftName {
  text-align: left;
}

.rightName {
  text-align: right;
}
/*
Source - https://stackoverflow.com/a
Posted by Skully, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-13, License - CC BY-SA 4.0
*/

.cursor {
    cursor: url("./pics/Dogcow.png") 0 0, auto;
}

.headshot {
    width: 200px;
    height: auto;
    /* border-radius: 10px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.banner {
  position: relative;
  width: 100%;
  height: 270px; /* adjust depending on your photo shape */
  overflow: hidden;
  margin-bottom: 10px;
}

/* Banner image */
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%) saturate(90%); 
}
