nav {
  display: flex;
  gap: 20px; 
  color:aliceblue;
  justify-content: center;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #6f4128;
  padding: 8px 14px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #f0ead0;
}
body {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  color:#66023c;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #fbfaf8;
  /* background-color: #cad183; */
}

h1,h2 {
    font-family: 'sonora', sans-serif;
}
.splitTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Playfair Display', serif; /* or your chosen font */
  margin-bottom: 30px;
}

.leftName {
  text-align: left;
}

.rightName {
  text-align: right;
}
/*
Source - https://stackoverflow.com/a
Posted by Skully, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-13, License - CC BY-SA 4.0
*/

.cursor {
    cursor: url("./pics/Dogcow.png") 0 0, auto;
}

.headshot {
    width: 200px;
    height: auto;
    /* border-radius: 10px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.banner {
  position: relative;
  width: 100%;
  height: 270px; /* adjust depending on your photo shape */
  overflow: hidden;
  margin-bottom: 10px;
}

/* Banner image */
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%) saturate(90%); 
}

.affiliations{
  margin-top: 80px auto 0 auto;
  width: 400px;
  padding: 30px 0;
  text-align: left;
}
.aff-title{
  font-size: 0.9rem;
  color: #6f4128;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.aff-logos{
  display: felx;
  justify-content: flex-start;
  align-items: center;
  gap: 400px;
  width: 500px;

}
.aff-logos img {
  animation: fadein 0.6s ease;
}

@keyframes fadein {
  from { opacity: 0; transform: translateY(5px); }
  to   { opacity: 0.8; transform: translateY(0); }
}

.inst-logo {
  height: 60px;
  object-fit: contain;
  transition: opacity 0.2s;
  gap: 40px;
}

.inst-logo:hover {
  opacity: 100%;
}